
/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

html{
	position:relative;
	min-height: 100%;
}
body{
	font-size: 15px;
	margin-bottom: 70px;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
}

footer{
	background-color: #00695C;
    color: white;  
    position: fixed;
    height:55px;
	bottom: 0px;
	width: 100%;
}

.row{
	margin: 0;
	padding: 0;
}
.panel{
	margin-top: 10px;
}

.list-group-item{
	border-color: #00796B;
	color: #00796B;
}
.container-fluid{
	padding: 0;
}
.container{
	padding: 0;
}
td #arenaCell{
	width: 40px;
    height: 40px;
    padding-bottom: 0px;
    font-size: 8px;
}
#arenaCell img{
	max-width: 35px;
	max-height: 35px;
	margin: auto;
}
table{
	margin-top: 10px;
	height: 100%;
}
.alert-danger{
	margin-top: 20px;
}
.btn.btn-default{
	margin-bottom: 10px;
}